/* 最外层区域 */
.calendar-wrapper {
    width: 240px;
    font-size: 14px;
    color: #666666;
    box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.3);
    border-radius: 3px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    /* 头部区域 */
    .calendar-header {
        width: 100%;
        position: relative;
        .date-header {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            height: 30px;
            line-height: 26px;
            text-align: center;
            background: #fff;
            border-bottom: 1px solid #cccccc;
            font-weight: normal;
            .header-title {
              cursor: pointer;
              padding: 0 3px;
              &:hover {
                color: #2d8cf0;
              }
            }
            .header-icon {
                width: 20px;
                height: 24px;
                display: inline-block;
                line-height: 26px;
                text-align: center;
                cursor: pointer;
                font-size: 12px;
                font-weight: 400;
                color: #c5c8ce;
                &:hover {
                    color: #2d8cf0;
                }
            }
            .date-picker-prev-btn-arrow-double {
                &::before {
                    content: "<<";
                 }
            }
            .date-picker-prev-btn-arrow {
               &::before {
                   content: "<";
                }
            }
            .date-picker-prev-btn-forward {
                &::before {
                    content: ">";
                 }
            }
            .date-picker-prev-btn-forward-double {
                &::before {
                    content: ">>";
                 }
            }
            .date-picker-prev-btn {
                float: left;
            }
            .date-picker-next-btn {
                float: right;
            }
        }
    }
    /* body区域 */
    .calendar-body {
        table {
          width: 100%;
          border-collapse: collapse;
          &.date-wrapper {
            th {
                height: 28px;
                text-align: center;
                font-size: 12px;
                height: 32px;
                line-height: 28px;
                margin: 0;
                padding: 0;
            }
            td {
                height: 28px;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
                cursor: pointer;
                color: #000;
                position: relative;
                a {
                  display: inline-block;
                  position: absolute;
                  width: 20px;
                  height: 16px;
                  padding: 2px 0;
                  border-radius: 3px;
                  top: 4px;
                  left: 8px;
                  text-align: center;
                  vertical-align: middle;
                  &.active {
                    color: #fff;
                    background-color: #2d8cf0;
                  }
                  &.prevandnext{
                    color: #c5c8ce;
                  }
                  &:hover {
                    color: #fff;
                    background-color: #2d8cf0;
                  }
                }
            }
          }
          &.year-wrapper {
            td {
              height: 51px;
              text-align: center;
              cursor: pointer;
              color: #000;
              text-align: center;
              vertical-align: middle;
              font-size: 12px;
              position: relative;
              a {
                display: inline-block;
                position: absolute;
                width: 40px;
                height: 16px;
                padding: 4px 0;
                border-radius: 3px;
                top: 14px;
                left: 20px;
                text-align: center;
                vertical-align: middle;
                // padding: 1px 2px;
                // border-radius: 3px;
                &.active {
                  color: #fff;
                  background-color: #2d8cf0;
                }
                &:hover {
                  color: #fff;
                  background-color: #2d8cf0;
                }
              }
            }
          }
          &.month-wrapper {
            td {
              height: 51px;
              text-align: center;
              cursor: pointer;
              color: #000;
              text-align: center;
              vertical-align: middle;
              font-size: 12px;
              position: relative;
              a {
                display: inline-block;
                position: absolute;
                width: 40px;
                height: 16px;
                padding: 4px 0;
                border-radius: 3px;
                top: 14px;
                left: 20px;
                text-align: center;
                vertical-align: middle;
                // padding: 1px 2px;
                // border-radius: 3px;
                &.active {
                  color: #fff;
                  background-color: #2d8cf0;
                }
                &:hover {
                  color: #fff;
                  background-color: #2d8cf0;
                }
              }
            }
          }
        }
        
    }
}
